---
import AlpinC from '../components/AlpinC.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Hello Alpin">
    <main>
      <AlpinC client:visible/> 
  
    </main>
  </Layout>  

