---
import Layout from '../layouts/Layout.astro';
import 'bootstrap/dist/css/bootstrap.min.css';
import AstroC from '../components/AstroC.astro';


---

<Layout title="Hello React">
  <main>
    <AstroC client:visible/> 

  </main>
</Layout>  

