---
import Layout from '../layouts/Layout.astro';
import 'bootstrap/dist/css/bootstrap.min.css';
import Reactbir from '../components/Reactbir';


---
<Layout title="Hello React">
  <main>
    <Reactbir client:visible/> 

  </main>
</Layout>  

