---
import Layout from '../layouts/Layout.astro';
import 'bootstrap/dist/css/bootstrap.min.css';
import Vuebir from '../components/Vuebir.vue';
---

<Layout title="Hello Vue">
    <main>
      <Vuebir client:visible/> 
  
    </main>
  </Layout>  
  