---
import Layout from '../layouts/Layout.astro';
import 'bootstrap/dist/css/bootstrap.min.css';
import Vueiki from '../components/Vueiki.vue';
---

<Layout title="Hello Vue">
    <main>
      <Vueiki client:visible/> 
  
    </main>
  </Layout>  