<nav class="navbar navbar-expand-lg bg-white navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="img/logo.jpeg" alt="logo" width="70" height="35"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Ana Sayfa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/Astro/">GEREKENLER</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/Alpin/">ORTALAMA HESAPLA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/sayfa3/">SINAV TAKVİMİ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/sayfa4/">GÖREVLER</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/sayfa5/">KRONOMETRE</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  